<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Update contact</h2>
    <!-- <%= contact %> -->
    <form action="/update/<%= contact.id %>" method="post">
        <input type="text" name="name" value="<%= contact.name %>" id="name" placeholder="Name">
        <input type="tel" name="number" value="<%= contact.number %>" id="number" placeholder="Name">
        <input type="submit" value="Edit">
    </form>
</body>
</html>