<h1>sign up</h1>
<form action="/signup" method="post">
  <input type="text" name="name" placeholder="name" />
  <input type="email" name="email" placeholder="email" />
  <input type="text" name="password" placeholder="password" />
  <input type="text" name="conform_password" placeholder="password" />
  <button type="submit">sumit</button>
</form>
